---
const today = new Date();
---

<footer class="bg-white border-t mt-8">
	<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
		<div class="flex flex-col items-center space-y-4">
			<p class="text-sm text-gray-500">
				&copy; {today.getFullYear()} Eray Avcı. All rights reserved.
			</p>
		</div>
	</div>
</footer>
